extends layout

block content
  .container
    .row
      .span12
        h1.text-left C.O.F.F.E.E
        h3.text-left Caffeine Ordering For Fast Employee Enjoyment
    form#order-form.form-inline
      #user-container
        .row
          .span12
            input#cust-first-name.customer-data(type="text", placeholder="Your first name...", name="customer[firstName]")
            &nbsp;
            input#cust-last-name.customer-data(type="text", placeholder="Your last name...", name="customer[lastName]")
            &nbsp;
            input#phone-number.customer-data(type="tel", placeholder="Your cell number...", name="customer[cellPhone]")
      #order-success.modal.hide.fade
        .modal-header
          h3 Thank you!
        .modal-body
          p We will text you when your drink is almost ready.
        .modal-footer
          button.btn.btn-primary(data-dismiss='modal', aria-hidden='true') Close
      #order-container
        .row.order-row
          .span12
            p I would like a&nbsp;
              select.caff-level(name="drinks[0][strength]")
                option(value="full") full strength
                option(value="decaf") decaffeinated
                option(value="half-caff") half caff
              | &nbsp;&nbsp;
              select.coffee-type(name="drinks[0][drinkType]")
                option(value="americano") Americano
                option(value="latte") Caffè latte
                option(value="mocha") Caffè mocha
                option(value="cappuccino") Cappuccino
              | &nbsp;with&nbsp;
              select.milk-type(name="drinks[0][milk]")
                option(value="full-fat") full fat
                option(value="skim") skim
                option(value="none") no
              | &nbsp;milk.
        .row
          .span1
            button#order-button.btn.btn-primary.btn-large Order

block late-scripts
  script(src="js/customer.js")
      
