extends layout

block content
  .container
    form.form-inline
      #user-container
        .row
          .span12
            input#cust-name(type="text", placeholder="Your name...")
            &nbsp;
            input#phone-number(type="text", placeholder="Your cell number...")
      #order-container
        .row
          .span12
            p I would like a&nbsp;
              select.caff-level
                option(value="full") full strength
                option(value="decaf") decaffeinated
                option(value="half-caff") half caff
              | &nbsp;&nbsp;
              select.coffee-type
                option(value="americano") Americano
                option(value="latte") Caffè latte
                option(value="latte") Caffè mocha
              | &nbsp;with&nbsp;
              select.milk-type
                option(value="full-fat") full fat
                option(value="skim") skim
              | &nbsp;milk.
        .row
          .span12 
            button.btn.btn-primary Order
      
