extends layout

block content
  if (!twilioEnabled)
    p.sms-disabled-warning Text messaging functionality has been disabled.
  .container
    .row
      .span12
        h1.text-left C.O.F.F.E.E
        h3.text-left Caffeine Ordering For Fast Employee Enjoyment
    form#order-form.form-inline
      #user-container
        .row.errorLabelRow
          .span4
            label.errorMessage(for="cust-first-name")
          .span4
            label.errorMessage(for="cust-last-name")
          .span4
            label.errorMessage(for="phone-number")
        .row
          .span4
            input#cust-first-name.required.customer-data(type="text", placeholder="Your first name...", name="customer[firstName]")
          .span4
            input#cust-last-name.required.customer-data(type="text", placeholder="Your last name...", name="customer[lastName]")
          .span4
            input#phone-number.required.phoneUS.span4.customer-data(type="tel", placeholder="Your cell number...", name="customer[cellPhone]")
        .row
          .span4.offset8.hidden-phone.input-helper-text
            em ...we'll text when your drink is ready

      #order-success.modal.hide.fade
        .modal-header
          h3 Thank you!
        .modal-body
          p We will text you when it's time to come grab your drink.
        .modal-footer
          button.btn.btn-primary.btn-large(data-dismiss='modal', aria-hidden='true') Close
      #order-container
        .row.order-row
          .span12
            p I would like a&nbsp;
              select.caff-level.input-large(name="drinks[0][strength]")
                option(value="full") full strength
                option(value="decaf") decaffeinated
                option(value="half-caff") half caff
              | &nbsp;&nbsp;
              select.coffee-type.input-extra-large(name="drinks[0][drinkType]")
                option(value="americano") Cafè Americano
                option(value="latte",selected="selected") Cafè Latte
                option(value="mocha") Cafè Mocha
                option(value="cappuccino") Cappuccino
                option(value="dry-cappuccino") dry Cappuccino
                option.caffeine-only(value="chai") Chai Latte
                option(value="single-espresso") single Espresso shot
                option(value="double-espresso") double Espresso shot
                option(value="macchiato") Macchiato
              //- | &nbsp;with&nbsp;
              //- select.milk-type.input-medium(name="drinks[0][milk]")
              //-   option(value="full-fat") full fat
              //-   option(value="skim") skim
              //-   option(value="none") no
              //- | &nbsp;milk, please.
        .row.order-row
          .span12
            p with&nbsp;
              select.milk-type.input-medium(name="drinks[0][milk]")
                option(value="full-fat") full fat
                option(value="skim") skim
                option(value="soy") soy
                option(value="none") no
              | &nbsp;milk, please.
        .row
          .span1
            button#order-button.btn.btn-primary.btn-large Order

block late-scripts
  script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js")
  script(src="js/customer.js")