html, body {
	background-color: #333;
	color:white;
	height: auto;
	min-height: 100%;
}

#order-info-container {
	height: 100%;
	/*border: 1px solid silver;*/
}

.barista-title {
	color:#ccc;
}

.barista-container {
	
}
/*.coffee-strength {
	padding-right: 5px;
}
*/
.drink:first-letter {
	text-transform: capitalize;
}

.order {
	font-size: 28px;
}

.order-action-buttons {
	text-align: center;
}

.mark-as-problem {
	margin-left: 60px;
	/*background-image: -webkit-linear-gradient(top,#fffeb8,#c49c38);*/
}

.status-assigned .mark-as-done {
	display: none;
}

.status-in-production .mark-as-started {
	display: none;
}