body {
  padding-top: 5px;
}

.hidden-phone-soft { /*A hidden-phone class that doesn't mark itself as important*/
  display: none
}

.logo-row img {
  width: 60%;
}

#first-time-question p:first-child {
  font-size: 20px;
  margin-bottom: 2px;
}

#first-time-question p {
  font-size: 12px;
}

#contact-info-form {
  margin-top: 10px;
}

.input-container input {
  font-size: 20px;
  height: 30px;
  width: 97%;
}

.input-container #contact-info-prescreen::-webkit-input-placeholder {
  font-size: 16px;
}

.input-container input::-webkit-input-placeholder {
  padding-top: 2px;
}

#next-button, #never-used-it-button, #show-order-container-button {
  height: 45px;
  font-size: 20px;
}

#order-button {
  margin-top: 10px;
  /*padding: 30px 30px;*/
  padding: 11px 19px;
  height: 45px;
  font-size: 20px;
}

#next-button-container {
  margin-top: 2px;
  text-align: center;
}

.order-row select {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
}

.order-row select {
  margin-top: 20px;
}

select.caff-level {
  margin-top: 0
}

#or-row {
  margin-top: 10px;
  font-size: 16px;
  font-style: italic;
  color:#666;
}

#never-used-it-row {
  margin-top: 12px;
}

#order-container {
  margin-top: 10px;
}

#no-special-requests, #entered-special-requests {
  margin-top: 15px;
}

.wait-infos {
  width: 95%%;
}

#long-wait-caution {
  font-weight: bolder;
  font-size: 11px;
  width: 100%;
  background-color: red
  color: white;
  text-align: center;
}

@media (min-device-height: 567px) and (-webkit-min-device-pixel-ratio: 2) {
/* iPhone 5 or iPod Touch 5th generation or other phone with long screen */
  #long-screen-phone-marker {
    display: block;
  }
}


