body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.order-row, .order-row select {
	font-size: 20px;
}
#order-container, #user-container {
	margin-top: 20px;
}

#logo {
	position: absolute;
	bottom: 0;
	right: 0;
}